<div class="site-holder">
    <div class="bg_top">
        <div class="nn-container">
            <header class="header">
                <div class="b-logo">
                    <img class='' src="images/logo.svg" alt="discreet logo"/>
                </div>
                <div class="burger">
                    <img src="images/burger.png" alt="three white gorizontal strips"/>
                </div>
            </header>
        </div>
        <div class="nav nav_mob">
            <a class="nav_mob__link" href="/">Головна</a>
            <a class="nav_mob__link  active" href="/rules.html">Правила акції</a>
            <a class="nav_mob__link" href="/">Переможці</a>
        </div>
    </div>
    <div class="bg_bottom">
        test2
    </div>
    rules page
</div>
