<table class="sort" align="center">
    <thead>
    <tr>
        <td class="hidden">Img</td>
        <td>Title</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Amount</td>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td><img src="images/good-1.jpg" alt="steel wire"/></td>
        <td>Проволока стальная</td>
        <td>10 UAH</td>
        <td>10 шт.</td>
        <td>100 UAH</td>
    </tr>
    <tr>
        <td><img src="images/good-2.jpg" alt="plastic pipe"/></td>
        <td>Труба пластиковая</td>
        <td>35 UAH</td>
        <td>2 шт.</td>
        <td>70 UAH</td>
    </tr>
    <tr>
        <td><img src="images/good-3.jpg" alt="polyethylene rolls"/></td>
        <td>Полиэтилен в рулонах</td>
        <td>50 UAH</td>
        <td>1 шт.</td>
        <td>50 UAH</td> 
    </tr>
    </tbody>
</table>

<table class="sort__conclusion" align="center">
    <tbody>
    <tr>
        <td>Итого:</td>
        <td>4078 UAH</td>
    </tr>
    <tr>
        <td>Скидка:</td>
        <td>-100 UAH</td>
    </tr>
    <tr>
        <td>Всего:</td>
        <td>4028 UAH</td>
    </tr>
    </tbody>
</table>