@charset "utf-8";
@import "partials/framework";
@import "partials/variable";
@import "partials/fonts";
@import "partials/base";
.hidden{
  opacity:0;
  pointer-events:none;
}
table.sort, table.sort__conclusion{
  border-spacing:0.1em;
  margin-bottom:1em;
  margin-top:1em;
  img{
    height:50px;
    width:50px;
  }
  td{
    border:1px solid #ccc;
    padding:0.3em 1em
  }
  thead td{
    cursor:pointer;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    &.curcol{  /* заголовок отсортированного столбца */
      background-color:#999;
      color:#fff
    }
  }
}

@import "partials/media_min_768";
@import "partials/media_min_1024";
@import "partials/media_min_1280";
