a{
  text-decoration:none;
  color:#000;
  cursor:pointer;
}
h1{
  font-size:2em;
  font-weight:bold;
  line-height:120%;
  margin:0 0 0.5em 0;
}
h1{
  font-size:2em;
  font-weight:bold;
  line-height:120%;
  margin:0.5em 0;
}
h2{
  font-size:1.75em;
  font-weight:bold;
  line-height:120%;
  margin:0.5em 0;
}
h3{
  font-size:1.5em;
  font-weight:bold;
  line-height:120%;
  margin:0.6em 0;
}
h4{
  font-size:1.25em;
  font-weight:bold;
  line-height:120%;
  margin:0.8em 0;
}
h5{
  font-size:1.1em;
  font-weight:bold;
  line-height:120%;
  margin:1em 0;
}
h6{
  font-size:1em;
  font-weight:bold;
  line-height:120%;
  margin:1em 0;
}
html, body{
  height:100%;
}
body{
  font-family:'Montserrat', Arial, sans-serif;
  background:#fff;
  color:#2b345b;
  font-size:16px;
  font-weight:400;
  line-height:130%;
  min-width:320px;
}
button, a, input, textarea{
  outline:none;
}
p{
  margin:1em 0;
}
ul, ol{
  margin:1em 0;
}



