@media all and (min-width:768px) {
  .bg_top .nn-container{
    padding-right:0;
  }
  .burger{
    display:none;
  }
  .nav_main{
    display:flex;
  }
  .partner{
    display:none;
  }
  .waves{
    img{
      &:first-child{
        display:none;
      }
      &:last-child{
        display:block;
      }
    }
  }
}

